html {
   /* Needed to fix footer at bottom of browser */
   position: relative;
   min-height: 100%;
}

body {
   /* Move down content because of fixed navbar at top */
   padding-top: 50px;
   /* Set margin bottom allow for footer height */
   margin-bottom: 20px;
    background-color: #C76476;  
    position: relative;
    
  
}

main{
    background-color: #FFFFFF;
    padding-bottom: 25px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

div main{
    margin-bottom: 15px; 
}

#me{
     float:left;
}
 
#wrap{

    margin: auto;
    width:90%;
}

p span { 
  margin-top: -300px;        
  padding-bottom: 300px; 
  display: block; 
}


figure{
    padding-bottom: 10px;
}

#stech{
  margin-top: -300px;        
  padding-bottom: 300px; 
  display: block; 
}



footer {
   position: fixed;
   bottom: 0;
   height: 50px;
   width: 100%;
   background-color: #665091;
   color: #CEAEBF;
   text-align: center;
   padding: 15px;
}

.navbar-inverse{
    background-color:#665091;
    border-color: #665091;
}

.navbar-inverse, .navbar-brand{
    color:#8C7AAE;
}

.navbar-inverse .btn{
    background-color: #CEAEBF;
    color: #5E2241;
}




